body {
	box-sizing: border-box;
	border-spacing: 0;
	margin: 0;
	padding: 0;

	$scale: 20px;
	.game {

		overflow: hidden;
		max-width: 600px;
		max-height: 450px;
		position: relative;

		.background {
			background-color: lightblue;
			table-layout: fixed;
			border-spacing: 0;
			td {
				padding: 0;
			}
			.row {
				height: $scale;
				.type {
					display: inline-block;
					background-color: lightblue;
					width: $scale;
					height: $scale;
					margin: 0;
					padding: 0;

					&.wall {
						background-color: white;
					}

					&.lava {
						background-color: orangered;
					}
				}
			}
		}

		.actors {
			.actor {
				position: absolute;

				&.coin {
					background-color: gold;
				}

				&.player {
					background-color: black;
				}

				&.lava {
					background-color: orangered;
				}
			}
		}
	}
}